{{>header}}
    <div class="upload">
        <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" required accept="*/*" name="file" multiple>
        <button type="submit">submit</button>
    </form>
    </div>

